.section-slider {
    padding: 4rem;
    background-color: $main-color;
}

.section-slider__btn {
    text-align: right;
    button {
        padding: 0.5rem 1.5rem;
        font-size: 1.2rem;
    }
}
